<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.gressor.concatenator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".hw2.rx_example.RxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".hw2.spam_sender.SpamActivity">
        </activity>

        <activity android:name=".hw2.async_logger.AsyncLoggerActivity">
        </activity>

        <activity android:name=".hw1.moxy.view.MoxyActivity">
        </activity>

        <activity android:name=".hw1.standard.view.MainActivity">
        </activity>
    </application>

</manifest>